@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Galada&display=swap');
@import "tailwindcss";

* {
    transition: all ease 0.2s;
    animation: forwards;
}

:root {
    --mid-dark: #6C757D;
    --dark: #495057;
    --off-white: #DEE2E6;
}

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
}

::selection {
    background: #353535;
    color: #DEE2E6;
}


h1 {
    font-family: 'Poppins', Arial, sans-serif;
}

.collect {
    font-family: 'Galada', cursive;
    color: #FF89B2;
}

.paragraph {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 300;
    margin-top: 8px;
}
