@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Galada&display=swap');
@import "tailwindcss";

* {
    transition: all ease 0.2s;
    animation: forwards;
}

@font-face {
    font-family: 'ProductSans';
    src: url('/fonts/ProductSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProductSans';
    src: url('/fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProductSans';
    src: url('/fonts/ProductSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProductSans';
    src: url('/fonts/ProductSans-Bold.ttf') format('truetype');
    font-style: normal;
}

:root {
    --mid-dark: #6C757D;
    --dark: #495057;
    --off-white: #DEE2E6;
    --primary-bg: #EFEFEF
}

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
}

.font-product {
    font-family: 'ProductSans', sans-serif;
}

.font-glook {
    font-family: var(--font-glook);
}

.font-gochi {
    font-family: var(--font-gochi);
}

.off-white {
    color: var(--off-white)
}

.text-primary {
    color: var(--dark)
}

.text-secondary {
    color: var(--mid-dark)
}

.primary-bg {
    background-color: var(--primary-bg);
}

::selection {
    background: #353535;
    color: #DEE2E6;
}

.hover:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
        /* slight upward movement */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.4s ease-out forwards;
}